*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #0f172a;
    font-family: "Roboto", sans-serif;
}

/*Centering the page*/
#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}

/*Header starts*/
header{
    padding: 1%;
    background-color: #0e4e11;
    color: #ffffff;
}
/*Header ends*/

/*Two column container starts:*/

#nav-main{
    display: flex;
    flex-direction: row;
    width: 100%;
}

nav{
    background-color: #08380b;
    width: 30%;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav li{
    width: 80%;
    background-color: #ffffff;
    padding: 2%;
    margin: 8% auto;
    text-align: center;
}

nav a{
    text-decoration: none;
    font-size: calc(2px + 1.3vw);
    color: #0f172a;
    display: block;
    padding: 2% 0;
}

nav a:hover{
    color: #0e4e11;
}

main{
    padding: 1% 2%;
    background-color: #ffffff;
    text-align: center;
    width: 70%;
    height: 150vh;
}

#main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 5% 0;
}

main p{
    line-height: 100%;
    font-size: calc(2px + 2vw);
    padding: 2%;
}

main h3{
    text-align: center;
    margin: 2% 0;
    font-size: calc(2px + 2vw);
    color: #0f172a;
}

main img{
    max-width: 40%;
}


footer{
    background-color: #0e4e11;
    color: #ffffff;
    padding: 1%;
    text-align: center;
}

#time-date{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

footer a{
    color: #ffffff;
    text-decoration: underline;
}

#quick-highlights{
    list-style: none;
    padding-left: 0;

    width: 90%;
    margin: auto;
    padding: 4%;

    text-align: left;
    background-color: #e3e3e3;

    font-size: calc(2px + 1.3vw);

    border-style: solid;
    border-width: 1px;
}

#quick-highlights li{
    margin: 1% 0;
    font-size: calc(2px + 1.3vw);
}

#quick-highlights a{
    margin-right: 3%;
    font-size: calc(2px + 1.3vw);
}

#skill-icons img{
    margin: auto;
    max-width: 24%;
}

#general-image img{
    max-width: 100%;
}

#calculator-title h3{ 
    font-family: "MedievalSharp", cursive;
    font-size: calc(20px + 2vw);
}

#calculator{
    width: 100%;
    margin: 3% auto;
    text-align: center;
}

#calc-inputs input{
    display: block;
    width: 15%;
    margin: 2% auto;
    padding: 2%;
    text-align: center;
    font-size: calc(12px + 1vw);
}

#calc-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;

    margin: 2% auto;
}

#calc-buttons button{
    width: 100%;
    margin: 3%;
    padding: 6%;
    font-size: calc(12px + 1vw);
    background-color: #20ff2c;
    border-style: solid;
    border-width: 2px;
}

#output{
    width: 80%;
    margin: 3% auto;
    padding: 5%;
    border-style: ridge;
    border-width: 2px;
}
/* main width requirement */
@media screen and (max-width: 1000px) {
    header{
        text-align: center;
    }
    
    #nav-main{
        flex-direction: column;
    }

    nav, main{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav li{
        width: 18%;
        padding: 1%;
        margin: 1%;
    }
    
    main{
        height: 125vh;
    }
}